@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --default-font-family: 'Inter', 'sans-serif';
    --inset-shadow-border: inset 0 0 0 1px rgba(0 0 0 / 0.12);
}

@layer base {
    * {
        @apply text-neutral-950 outline-none;
    }

    *::selection{
        background-color: hsla(221, 82%, 50%, 0.1);
    }

    .editor-setting {
        @apply m-2 p-3 rounded-xl shadow-lg inset-shadow-border
    }
}